<div class = "upper-message">
  <div class = "user-name">
    <%= message.user.name %>
  </div>
  <div class = "timestamp">
    <%= l message.created_at %>
  </div>
</div>
<div class ="lower-message">
  <div class = "message">
    <%= message.content%>
  </div>
  <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
</div>