<div class= "upper-side-bar">
  <div class= "login-user">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="make-chatroom">
    <a href ="#">チャットを作成する</a>
  </div>
</div>

<div class= "bottom-side-bar">
  <div class = "chat-room">
    <div class = "room">
      <a href = "#">techroom1</a>
    </div>
  </div>
  <div class = "chat-room">
    <div class = "room">
      <a href = "#">techroom2</a>
    </div>
  </div>
</div>