<div class= "upper-side-bar">
  <div class= "login-user">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="make-chatroom">
    <%= link_to 'チャットを作成する', new_room_path %>
  </div>
</div>

<div class= "bottom-side-bar">
  <% current_user.rooms.each do |room| %>
    <div class = "chat-room">
      <div class = "room">
        <a href = "#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>